li {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
}

li>a {
    text-decoration: none;
    color: #222222;
    font-size: 1.3em;
}

li>a:hover {
    text-decoration: underline;
    color: rgba(207, 42, 42, 0.6);
}